services:
  xray:
    image: ghcr.io/xtls/xray-core:latest
    container_name: xray
    restart: always
    volumes:
      - ./config.json:/etc/xray/config.json
    ports:
      - "10000:10000"

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
